<header>
    <nav class="user">
        <a href="/" class="app-title">Tian Mao</a>
        <ul class="user-nav">
            <%pages.forEach(page => {%>
                <%if (page.slug == "home") {%>
                    <li><a href="/"><%=page.pageTitle%></a></li>
                <%}else {%>
                    <li><a href="/<%=page.slug%>"><%=page.pageTitle%></a></li>
                <%}%>
            <%})%>
            <%if (locals.user && locals.user.admin == 2) {%>
                <%if (locals.user != null) {%>
                    <li><a href="/markets/sellers">Sellers</a></li>
                    <li><a href="/markets/sellers/<%=user.id%>"><%=user.username%>'s Shop</a></li>
                <%}%>
            <%}else {%>
                <li><a href="/seller/sign_up">WANT TO BE A SELLER?</a></li>
                <%if (typeof cart !== "undefined") {%>
                    <li><a href="/cart/checkout"><i class="fas fa-shopping-cart"></i> Sopping Cart (<%=cart.length%>)</a></li>
                <%}else {%>
                    <li><a href="/cart/checkout"><i class="fas fa-shopping-cart"></i> Sopping Cart </a></li>
                <%}%>
            <%}%>
            <%if (locals.user != null) {%>
                <%if (user) {%>
            <div class="dropdown">
                <a class="drop_link"><i class="fas fa-user" aria-hidden="true"></i>Welcome, <%=user.username%></a>
                <div class="dropdown-content">
                    <li><a href="/user/profile">Settings</a></li>
                    <li><a href="/user/logout">Logout</a></li>
                </div>
            </div>
                <%}%>
            <%}else {%>
                <li><a href="/user/login">Sign In / 登陆</a></li>
                <li><a href="/user/sign_up">Sign Up / 注册</a></li>
            <%}%>
            <%if (locals.user && locals.user.admin == 1) {%>
                <li style="margin-left: 200px"><a href="/admin/dashboard">Admin Area / 管理员界面</a></li>
            <%}%>
        </ul>
    </nav>
    <div  class="search-engine">
        <form action="/" method="get">
            <div class="dropdown_category">
                <a class="drop_link_category" href="/categories/products">All Products</a>
                <div class="dropdown-category-content">
                    <%categories.forEach(category => {%>
                    <li><a href="/categories/products/<%=category.slug%>"><%=category.categoryName%></a></li>
                    <%})%>
                </div>
            </div>
            <input type="text" class="search-input" name="product_name" value="<%=searchOptions.product_name%>" placeholder="Search Products">
            <input type="text" class="search-input" name="author" value="<%=searchOptions.author%>" placeholder="Search Author">
            <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>