<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script defer src="/public/javascripts/fileUpload.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css">
    <%if(locals.login != null) {%>
        <%if (login === "1") {%>
            <link rel="icon" type="image/x-icon" href="public/images/icon/tianmao.jpg">
            <title>Tian Mao</title>
        <%}else if (login === "2"){%>
            <link rel="icon" type="image/x-icon" href="public/images/icon/admin.png">
            <title>Admin Page</title>
        <%}%>
    <%}%>
</head>
<body>
<%if(locals.login != null) {%>
    <%if (login === "1") {%>
        <%- include("../partials/user/header.ejs");%>
        <%- include("../partials/errorMessage.ejs");%>
        <%- body%>
        <%- include("../partials/user/footer.ejs");%>
    <%}else if (login === "2"){%>
        <%- include("../partials/admin/header.ejs");%>
        <%- include("../partials/errorMessage.ejs");%>
        <%- body%>
        <%- include("../partials/admin/footer.ejs");%>
    <%}else if (login === "3"){%>
        <%- include("../partials/errorMessage.ejs");%>
        <%- body%>
        <%- include("../partials/user/footer.ejs");%>
    <%}else {%>
        <%- include("../partials/user/header.ejs");%>
        <%- include("../partials/errorMessage.ejs");%>
        <%- body%>
        <%- include("../partials/user/footer.ejs");%>
    <%}%>
<%}%>
Cannot load admin page icon
<br>
Cannot reorder pages
<br>
login should be changed
<br>
remove some files from git
<br>
add gallery
<br>
need more validations: check exist username and email
<br>
add session.view into layout and save it and find it
<br>
add route only for seller upload product
</body>
</html>