<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tian Mao</title>
</head>
<body>
<%if(locals.login != null) {%>
<%if (login === "2") {%>
    <%- include("../partials/admin/header.ejs");%>
    <%- include("../partials/errorMessage.ejs");%>
    <%- body%>
    <%- include("../partials/admin/footer.ejs");%>
<%}else {%>
    <%- include("../partials/user/header.ejs");%>
    <%- include("../partials/errorMessage.ejs");%>
    <%- body%>
    <%- include("../partials/user/footer.ejs");%>
<%}%>
<%}%>

</body>
</html>