<h1>User Home Page</h1>

<h1>Views: <%=views%></h1>
<div>
    <%if (locals.user != null) {%>
    <div style="width: 90px">
        <img height="50px" width="50px" style="border-radius: 50px" src="<%=user.portraitPath%>">
        <h3 style="float: right"><%=user.username%></h3>
    </div>
    <%}%>
</div>
<h1>Title</h1>
<%=title%>
<div>
    <h3>Page Content</h3>
    <%=content%>
</div>

<h3>Search Product</h3>
<form action="/" method="get">
    <div>
        <h1>need to create a new scheme to save everything that user can search</h1>
        <label>Product Name</label>
        <input type="text" name="product_name" value="<%=searchOptions.product_name%>">
    </div>
    <div>
        <label>Author</label>
        <input type="text" name="author" value="<%=searchOptions.author%>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<div style="display: flex;">
    <%if (locals.products.length > 0) {%>
    <%products.forEach(product => {%>
    <a href="/categories/products/<%=product.category%>/<%=product.slug%>">
        <img height="150" width="100" src="<%=product.coverImagePath%>" alt="product cover image">
        <h3><%=product.productName%> <br> CDN$ <%=parseFloat(product.price).toFixed(2)%></h3>
    </a>
    <%})%>
    <%}else {%>
        <h3>There is no product. Please upload it.</h3>
    <%}%>
</div>

<h3>Categories</h3>
<ul>
    <li><a href="/categories/products">All Products</a></li>
    <%categories.forEach(category => {%>
        <li><a href="/categories/products/<%=category.slug%>"><%=category.categoryName%></a></li>
    <%})%>
</ul>