<div  class="search-engine">
    <form action="/" method="get">
        <div class="dropdown_category">
            <a class="drop_link_category" href="/categories/products">All Products</a>
            <div class="dropdown-category-content">
                <%categories.forEach(category => {%>
                <li><a href="/categories/products/<%=category.slug%>"><%=category.categoryName%></a></li>
                <%})%>
            </div>
        </div>
        <input type="text" class="search-input" name="product_name" value="<%=searchOptions.product_name%>" placeholder="Search Products">
        <input type="text" class="search-input" name="author" value="<%=searchOptions.author%>" placeholder="Search Author">
        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </form>
</div>

<div>
    <%if (locals.user != null) {%>
    <div style="width: 90px">
        <img height="50px" width="50px" style="border-radius: 50px" src="<%=user.portraitPath%>">
        <h3 style="float: right"><%=user.username%></h3>
    </div>
    <%}%>
</div>

<div>
    <%=content%>
</div>


<br>
<div class="cover">
    <%if (locals.products.length > 0) {%>
        <%products.forEach(product => {%>
            <a href="/categories/products/<%=product.category%>/<%=product.slug%>">
                <img height="433" width="325" src="<%=product.coverImagePath%>" alt="product cover image">
                <h3><%=product.productName%> <br> CDN$ <%=parseFloat(product.price).toFixed(2)%></h3>
            </a>
        <%})%>
    <%}else {%>
        <h3>There is no product. Please upload it.</h3>
    <%}%>
</div>
Views: <%=views%>