<h1>Sellers Index </h1>

<li><a href="/markets/sellers/new">Register Sellers</a></li>
<h1>Do i need to add recently add? if yes, where should be put?</h1>
<%if (locals.sellers != null) {%>
    <%sellers.forEach(seller => {%>
        <li><a href="/markets/sellers/<%=seller.id%>"><%=seller.user.username%></a></li>
        <a href="/markets/sellers/<%=seller.id%>">
            <img height="50px" width="50" style="border-radius: 50px" src="<%=seller.portraitPath%>" alt="image">
        </a>
    <%})%>
<%}%>

<%products.forEach(product => {%>
<img height="150px" width="100px" src="<%=product.coverImagePath%>" alt="image">
<%})%>