<h1>Seller Info</h1>
<div>
    <%if (product.seller != null) {%>
        <img height="50px" width="50px" style="border-radius: 50px" src="<%=product.seller.portraitPath%>">
        <%=product.seller.username%>
    <%}%>
</div>

<%if (locals.user != null) {%>
    <%if (locals.user.admin === 2 && locals.user.username === product.seller.username) {%>
        <div>
            <ul>
                <li><a href="/markets/sellers/products/new">Add Product</a></li>
                <li><a href="/markets/sellers/products/<%=product.id%>/edit">Edit</a></li>
            </ul>
        </div>
    <%}else {%>
        <br><br>
    <%}%>
<%}else {%>
    <br><br>
<%}%>

<div style="display: flex;">
    <%products.forEach(product => {%>
        <a href="/markets/sellers/products/<%=product.id%>">
            <img height="150px" width="100px" src="<%=product.coverImagePath%>" alt="image">
        </a>
        <div>
            <li><%=product.productName%></li>
            <li><%=product.price%></li>
        </div>
    <%})%>
</div>
