<h3>All Pages</h3>
<form action="/admin/pages" method="get">
    <label>Page Title</label>
    <input type="text" name="page_title" value="<%=searchOptions.page_title%>">
    <button type="submit">Search</button>
</form>
<br>
<%if (locals.pages.length > 0) {%>
    <%pages.forEach(page => {%>
        <div><%=page.pageTitle%></div>
        <a href="/admin/pages/<%=page.id%>">View</a>
        <a href="/admin/pages/<%=page.id%>/edit">Edit</a>
        <%if (page.slug === "home") {%>
            <td></td>
        <%}else {%>
            <%- include("../../partials/deleteForm.ejs", {url: `/admin/pages/${page.id}`}); -%>
        <%}%>
    <%})%>
<%}else {%>
    <h3>There is no page. Please add one.</h3>
<%}%>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<table class="sorting">
    <thead>
    <tr class="home">
        <th>Title</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <%if (locals.pages != null) {%>
        <%pages.forEach(page => {%>
            <tr id="id_<%=page._id%>" class="<%=page.slug%>">
                <td><%=page.pageTitle%></td>
                <td><a href="#">View</a></td>
                <td><a href="#">Edit</a></td>
                <%if (page.slug === "home") {%>
                    <td></td>
                <%}else {%>
                    <td><a href="#">Delete</a></td>
                <%}%>
            </tr>
        <%})%>
    <%}%>
    </tbody>
</table>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script>
    $('tbody').sortable({
        items: "tr:not('.home')",
        placeholder: "ui-state-highlight",
        update: function () {
            let ids = $('tbody').sortable("serialize");
            let url = "/admin/pages/reorder";
            $.post(url, ids);
        }
    });
</script>