<%=user.username%>

<br>
<br>
<br>
<br>
<div style="display: flex;">
    <%products.forEach(product => {%>
    <a href="/markets/sellers/products/<%=product.id%>">
        <img height="150px" width="100px" src="<%=product.coverImagePath%>" alt="image">
    </a>
    <div>
        <li><%=product.productName%></li>
        <li><%=product.price%></li>
    </div>
    <%})%>
</div>
