<div class="form-row">
    <div class="form-item">
        <label>Product Name / 产品名称 (*)</label>
        <input type="text" name="product_name" placeholder="Product" value="<%=product.productName%>" required="required"
               oninvalid="this.setCustomValidity('Product Name is required.')"
               oninput="this.setCustomValidity('')" >
    </div>
    <div class="form-item">
        <label>Category / 类别  (*)</label>
        <select name="category">
            <%categories.forEach(category => {%>
            <%if (category.id === product.category) {%>
            <option selected label="<%=category.categoryName%>" value="<%=category.id%>"></option>
            <%}else{%>
            <option label="<%=category.categoryName%>" value="<%=category.id%>"></option>
            <%}%>
            <%})%>
        </select>
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Author / 作者</label>
        <input type="text" name="author" placeholder="Author" value="<%=product.author%>">
    </div>
    <div class="form-item">
        <label>Product Slug (*)</label>
        <input type="text" name="product_slug" placeholder="Slug" value="<%=product.slug%>" required="required"
               oninvalid="this.setCustomValidity('Slug is required.')"
               oninput="this.setCustomValidity('')">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Product Price / 产品价格 (*)</label>
        <input type="number" name="product_price" placeholder="Price" min="0" step="0.01" value="<%=product.price%>" required="required"
               oninvalid="this.setCustomValidity('Price is required.')"
               oninput="this.setCustomValidity('')">
    </div>
    <div class="form-item">
        <label>Product Publish Date / 出版日期 (*) why is necessary</label>
        <input type="date" name="product_publishDate"
               value="<%=product.publishDate == null ? "" : product.publishDate.toISOString().split("T")[0]%>" required="required"
               oninvalid="this.setCustomValidity('Date is required.')"
               oninput="this.setCustomValidity('')">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Product Page Count / 产品页数</label>
        <input type="number" name="product_pageCount" placeholder="Page Count" min="1" step="1" value="<%=product.pageCount%>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Product Cover Image / 产品封面 (*)</label>
        <input type="file" name="cover" class="filepond" multiple required="required"
               oninvalid="this.setCustomValidity('Cover Image is required.')"
               oninput="this.setCustomValidity('')">
    </div>
    <div class="form-item">
        <label>Product Description / 产品描述 (*)</label>
        <textarea name="product_description" cols="30" rows="10" placeholder="Description" required="required"
                  oninvalid="this.setCustomValidity('Description is required.')"
                  oninput="this.setCustomValidity('')"><%=product.description%></textarea>
    </div>
</div>