<h3>Search Product</h3>
<form action="/admin/products" method="get">
    <div>
        <label>Product Name</label>
        <input type="text" name="product_name" value="<%=searchOptions.product_name%>">
    </div>
    <div>
        <label>Author</label>
        <input type="text" name="author" value="<%=searchOptions.author%>">
    </div>
    <div>
        <label>Publish Before</label>
        <input type="date" name="product_publishBefore" value="<%=searchOptions.product_publishBefore%>">
    </div>
    <div>
        <label>Publish After</label>
        <input type="date" name="product_publishAfter" value="<%=searchOptions.product_publishAfter%>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<div>
    <%if (locals.products.length > 0) {%>
        <%products.forEach(product => {%>
            <a href="/admin/products/<%=product.id%>">
                <img height="150" width="100" src="<%=product.coverImagePath%>" alt="product cover image">
            </a>
        <%})%>
    <%}else {%>
        <h3>There is no product. Please upload it.</h3>
    <%}%>
</div>
