<a href="/admin/products">Return Back</a>
<h2 class="page-header"><%=product.productName%></h2>
<div class="product-details">
    <div>
        <img class="product-cover" src="<%=product.coverImagePath%>" alt="product cover image">
        <div class="product-details-btn-grid">
            <a class="btn btn-primary" href="/admin/products/<%=product.id%>/edit">Edit</a>
            <%- include("../../partials/deleteForm.ejs", {url: `/admin/products/${product.id}`}); -%>
            <a class="btn btn-primary product-details-category-button" href="/admin/categories/<%=product.category.id%>">View Category</a>
        </div>
    </div>
    <div class="product-details-grid">
        <%if (product.seller != null) {%>
            <div class="product-details-label">Seller:</div>
                <div><%=product.seller.username%></div>
        <%}%>
        <div class="product-details-label">Product:</div>
            <div><%=product.productName%></div>
        <div class="product-details-label">Category:</div>
            <div><%=product.category.categoryName%></div>
        <div class="product-details-label">Author:</div>
            <div><%=product.author%></div>
        <div class="product-details-label">Slug:</div>
            <div><%=product.slug%></div>
        <div class="product-details-label">Price:</div>
            <div><%=product.price%></div>
        <div class="product-details-label">Publish Date:</div>
            <div><%=product.publishDate.toDateString()%></div>
        <div class="product-details-label">Page Count:</div>
            <div><%=product.pageCount%></div>
        <div class="product-details-label">Description:</div>
            <div><%=product.description%></div>
    </div>
</div>