<div>
    <%products.forEach(product => {%>
    <div>
        <a href="/products/<%=product.categoryName%>/<%=product.slug%>">
            <img src="<%=product.coverImagePath%>" alt="products images">
        </a>
        <h3><%=product.productName%></h3>
        <h3><%=product.price%></h3>
        <a href="/products/<%=product.categoryName%>/<%=product.slug%>">View Details</a>
    </div>
    <%})%>
</div>
<%=title%>