<div>
    <h1><%=product.productName%></h1>
    <%if (product.seller != null) {%>
        <a href="/markets/sellers/<%=product.seller.id%>">
            <p>by <%=product.seller.username%></p>
        </a>
    <%}%>
    <div>
        <img height="150" width="100" src="<%=product.coverImagePath%>" alt="products images">
        <ul>
            <li>Author: <%=product.author%></li>
            <li style="color: red; font-size: 20pt">Category: <%=product.category.categoryName%></li>
            <li>Page Count: <%=product.pageCount%></li>
            <li>Publish Date: <%=product.publishDate.toDateString()%></li>
            <li>Price: CDN$ <%=parseFloat(product.price).toFixed(2)%></li>
            <li>Description: <%=product.description%></li>
        </ul>
        <%if (locals.user && locals.user.admin == 2) {%>
            <h1>This is seller's account only can scan</h1>
        <%}else {%>
            <a href="/cart/add/<%=product.slug%>">Add to Cart</a>
        <%}%>
    </div>
</div>