<div>
    <h1><%=product.productName%></h1>
    <%if (product.seller != null) {%>
        <a href="/markets/sellers/products/<%=product.seller.id%>/display">
            <p>by <%=product.seller.username%></p>
        </a>
    <%}%>
    <div class="product-details-user">
        <img height="150" width="100" src="<%=product.coverImagePath%>" alt="products images">
        <div class="product-details-grid-user">
            <li>Author: <%=product.author%></li>
            <li style="color: red; font-size: 20pt">Category: <%=product.category.categoryName%></li>
            <li>Page Count: <%=product.pageCount%></li>
            <li>Publish Date: <%=product.publishDate.toDateString()%></li>
            <li>Price: CDN$ <%=parseFloat(product.price).toFixed(2)%></li>
            <li>Description: <%=product.description%></li>
        </div>
        <%if (locals.user && locals.user.admin == 2) {%>
            <h1>This is seller's account only can scan</h1>
        <%}else {%>
            <a href="/cart/add/<%=product.slug%>">Add to Cart</a>
        <%}%>
    </div>
</div>
<br>
<a href="/products/users/reviews/create-review/<%=product.slug%>">Write a Customer Review</a>
<h1>Customer Review</h1>
<p>Showing <%=number%> comments</p>
<p>admin  2 days ago => sample</p>
<%if (number > 0) {%>
    <%replies.forEach(reply => {%>
        <%reviews.forEach(review => {%>
            <%if (reply.review.id === review.id) {%>
                <div>
                    <h2><%=review.product.productName%></h2>
                    <label>Username: <%=review.user.username%></label>
                    <h5 style="font-size: 20pt; font-weight: bolder; color: white">Subject: <%=review.subject%></h5>
                    <p>Review: <%=review.review%></p>
                    <p>Time: <%=review.createdAt.toISOString().split("T")[0]%></p>
                    <p>Username: <%=reply.review.user.username%></p>
                    <h1>Reply: <%=reply.reply%></h1>
                    <p>Time: <%=reply.review.createdAt.toISOString().split("T")[0]%>
                </div>
                <a href="/products/users/reviews/<%=review.id%>">Comment</a>
                <hr style="background-color: yellowgreen; height: 10px"><br>
            <%}else {%>
            <%}%>
        <%})%>
    <%})%>
    <%reviews.forEach(review => {%>
        <div>
            <h2><%=review.product.productName%></h2>
            <label>Username: <%=review.user.username%></label>
            <h5 style="font-size: 20pt; font-weight: bolder; color: white">Subject: <%=review.subject%></h5>
            <p>Review: <%=review.review%></p>
            <p>Time: <%=review.createdAt.toISOString().split("T")[0]%></p>
        </div>
        <a href="/products/users/reviews/<%=review.id%>">Comment</a>
        <hr style="background-color: yellowgreen; height: 10px"><br>
    <%})%>
<%} else {%>
    <div style="height: 200px; margin-top: 50px;">
        <h1>Comments Area</h1>
        <p>Waiting for the first person</p>
        <p>Come for grabbing sofa</p>
    </div>
<%}%>