<div>
    <h1><%=product.productName%></h1>
    <%if (product.seller != null) {%>
        <a href="/markets/sellers/products/<%=product.seller.id%>/display">
            <p>by <%=product.seller.username%></p>
        </a>
    <%}%>
    <div>
        <img height="150" width="100" src="<%=product.coverImagePath%>" alt="products images">
        <ul>
            <li>Author: <%=product.author%></li>
            <li style="color: red; font-size: 20pt">Category: <%=product.category.categoryName%></li>
            <li>Page Count: <%=product.pageCount%></li>
            <li>Publish Date: <%=product.publishDate.toDateString()%></li>
            <li>Price: CDN$ <%=parseFloat(product.price).toFixed(2)%></li>
            <li>Description: <%=product.description%></li>
        </ul>
        <%if (locals.user && locals.user.admin == 2) {%>
            <h1>This is seller's account only can scan</h1>
        <%}else {%>
            <a href="/cart/add/<%=product.slug%>">Add to Cart</a>
        <%}%>
    </div>
</div>
<br>
<a href="/products/users/reviews/create-review/<%=product.slug%>">Write a Customer Review</a>
<h1>Customer Review</h1>

<p>Showing 2 comments</p>

<%reviews.forEach(review => {%>
<div>
    <h2><%=review.product.productName%></h2>
    <label>Username: <%=review.user.username%></label>
    <h5 style="font-size: 20pt; font-weight: bolder; color: white">Subject: <%=review.subject%></h5>
    <p>Review: <%=review.review%></p>
    <p>Time: <%=review.createdAt.toISOString().split("T")[0]%></p>
</div>
<hr style="background-color: yellowgreen; height: 10px"><br>
<%})%>

<hr>
<p>admin  2 days ago</p>
<p>It is a good product.</p>