<h2><%=seller.username%>'s Product Page</h2>

<%products.forEach(product => {%>
    <div>
        <a href="/admin/sellers/products/<%=product.id%>">
            <img height="150" width="100" src="<%=product.coverImagePath%>" alt="products images">
        </a>
        <li>Product: <%=product.productName%></li>
        <li>Product: <%=product.price%></li>
    </div>
<%})%>