<h1>Customer Review</h1>

<p>Showing 2 comments</p>

<%reviews.forEach(review => {%>
    <div>
        <h2><%=review.product.productName%></h2>
        <label>Username: <%=review.user.username%></label>
        <h5 style="font-size: 20pt; font-weight: bolder; color: white">Subject: <%=review.subject%></h5>
        <p>Review: <%=review.review%></p>
        <p>Time: <%=review.createdAt.toISOString().split("T")[0]%></p>
    </div>
    <hr style="background-color: yellowgreen; height: 10px"><br>
<%})%>

<hr>
<p>admin  2 days ago</p>
<p>It is a good product.</p>